.login-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
    overflow: hidden;
  background: linear-gradient(-45deg, #6C63FF, #FF6584, #4DD0E1, #8E54E9);
  background-size: 300% 300%;
  animation: bgAnimate 8s ease infinite;
  font-family: 'Poppins', sans-serif;
  padding: 20px;
}

.login-card {
  padding: 40px;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 12px 40px rgba(0,0,0,0.3);
  text-align: center;
  color: #fff;
  animation: fadeUp 1s ease;
   width: 100%;
  max-width: 380px; 
  box-sizing: border-box; 
}


.logo h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 5px;
}

.logo p {
  font-size: 14px;
  opacity: 0.85;
  margin-bottom: 25px;
}


.input-group {
  position: relative;
  margin: 20px 0;
}

.icon {
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  opacity: 0.8;
}

.input-group input {
  width: 100%;
  padding: 14px 20px 14px 50px;
  border-radius: 50px;
  border: none;
  background: #F0F6FF; 
  font-size: 16px;
  outline: none;
   box-sizing: border-box; 
  transition: all 0.3s ease;


}
.input-group input::placeholder {
  color: #141212;
}

.input-group input:focus {
  background: rgba(255,255,255,0.3);
  box-shadow: 0 0 12px rgba(255,255,255,0.7);
}


.login-btn {
  width: 100%;
  padding: 14px;
  background: #fff;
  color: #6C63FF;
  font-size: 18px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  transition: 0.3s ease;
}

.login-btn:hover {
  background: #f3f0ff;
  transform: translateY(-4px);
  box-shadow: 0 10px 25px rgba(255,255,255,0.4);
}


.error {
  margin-top: 12px;
  color: #ffbdbd;
  font-weight: bold;
}


.footer-text {
  margin-top: 20px;
  opacity: 0.75;
  font-size: 12px;
}


@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes bgAnimate {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
